/**
 * CodePeople Post Map 
 * Version: 1.0.1
 * Author: CodePeople
 * Plugin URI: http://wordpress.dwbooster.com
*/

.cpm-map img { max-width: none; height: auto }
.cpm-mapicon { width:20px; height:34px; cursor:pointer;background:url(../images/icons/marker.png) no-repeat 0 0; }
.cpm-infowindow {margin:0; padding:0px; height:125px; width:%width%; overflow:hidden; font-size:11px; clear:both; line-height:13px;}
.cpm-infowindow .content {float:left; width:200px;}
.cpm-infowindow .content .title {clear:both; display:block; font-size:12px; line-height: 18px; font-weight:bold;}
.cpm-infowindow .content .address {font-weight:bold; font-size:9px;}
.cpm-infowindow .content .description {font-size:10px;}
.cpm-infowindow .content .more {font-size:11px; float:left; display:block;}
.cpm-infowindow .thumbnail {float:left;}
.cpm_highlight{border:1px dotted #CCC; padding:5px;}